body{

	> header {

		@include container-fixed();
		padding: 20px;
	}

	input.form-control{

		height: 43px;
		font: 14px $font_main;
		color: #857f7f;
		background: #e6e6e6;
		margin-top: 5px;
	

	}
}
