a{
	outline: none;
	img{
		border: none;
	}
}
.container{
	.content{
		h1.header{
			margin: 0px;
			font: bold 18px $font_main;
			color: $header_color;
			> span {
				display: inline-block;
				width: 8px;
				height: 30px;
				background: $header_tarja_color;
				margin-left: 6px;
			}
		}
	}
}